<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Eat Restaurant Finder</title>
    <!-- Linking to CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- Header  -->
    <header>
    <!-- Just Eat logo -->
    <img src="{{ url_for('static', filename='logo.png') }}" 
         alt="Just Eat logo" 
         style="height: 50px; margin-bottom: 15px;">
    <h1>Restaurant Finder</h1>
    <p>Enter a UK postcode to find restaurants near you</p>
</header>
        
    <div class="container">

        <!-- Search form -->
        <form class="search-form" method="POST">
            <input type="text" name="postcode" 
                   placeholder="Enter a UK postcode (e.g. EC4M 7RF)" 
                   value="{{ postcode }}">
            <button type="submit">Search</button>
        </form>

        <!-- Show error if postcode is invalid or no results found -->
        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}

        <!-- Only show results if restaurants were returned -->
        {% if restaurants %}
        <p class="results-heading">First 10 restaurants for <strong>{{ postcode }}</strong>:</p>

        <div class="cards-grid">
            {% for restaurant in restaurants %}
            <div class="card">
                <h3>{{ restaurant.name }}</h3>
                <!-- Cuisines is a list so joining into a readable string -->
                <p><span>Cuisines:</span> {{ ', '.join(restaurant.cuisines) }}</p>
                <p><span>Address:</span> {{ restaurant.address }}</p>
                <p><span>Rating:</span> <span class="rating">{{ restaurant.rating }} ⭐</span></p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>

<!-- Loading message while waiting for API response -->
<script>
    document.querySelector('.search-form').addEventListener('submit', function() {
        var button = document.querySelector(".search-form button");
         button.textContent = 'Loading...';
         button.disabled = true;
    });
</script>

<footer>
    <p> Built using the Just Eat API </p>
</footer>

</body>
</html>